.container {
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.result {
  margin: 2rem auto;
  max-width: 1000px;
}

.conditions-summary {
  margin-bottom: 2rem;
}

.line {
  display: flex;
  align-items: baseline;
  margin-bottom: 0.75rem;
  line-height: 1.5;
}

.condition-name {
  width: 10rem;
  text-align-last: justify;
  margin-right: 0.5rem;
  font-weight: normal;
  color: var(--text-color);
}

.content {
  margin-left: 1rem;
}

.result-numbers {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
  gap: 4rem;
}

.result-numbers > div {
  flex: 1;
  max-width: 300px;
  text-align: center;
}

.number {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.number-box {
  border: 1px solid black;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
}

.images {
  display: flex;
  gap: 3rem;
  margin: 3rem 0;
  justify-content: center;
}

.images > div {
  flex: 1;
  max-width: 450px;
}

.images > div > div:first-child {
  margin-bottom: 1rem;
  font-weight: bold;
  text-align: center;
}

.image-error {
  color: #ff0000;
  margin-top: 1rem;
  font-size: 0.9rem;
  text-align: center;
}

#outputimage {
  width: 350px;
  height: 350px;
  object-fit: cover;
  object-position: -116px;
}

.alert {
  color: #aa0000;
  text-align: center;
}
